# Dependencies
node_modules
.npm
**/*.pyc
__pycache__
venv
.venv
.env*
!frontend/.env.production

# Version Control
.git
.github

# Logs and Data
logs/
history/
rooms/
data/

# Backend Build Assets
backend/history/
backend/assets/
# backend/config/ (NEED THIS TO BOOT!)

# Firebase
.firebase/
firebase-debug.log

# Misc
.streamlit
.agent
.pytest_cache
TMP/
